@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  font-family: 'Open Sans', sans-serif;
  color: #7FFFD4;
  background-color: blue;
}

h1 {
  text-align: center;
  font-size:20px;
}

p {
  font-size:13px;
  padding: 15px 745px;
  width:400px;
  text-align:center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}